:root {
	--primary: #F38BA0;
	--white: #fff;
	--gray: #ddd;
	--dark-gray: #555;
	--dark: #222;
}

.light {
	--danger: #FF5DA2;
	--text-color: var(--dark);
	--text-color-2: var(--white);
	--background-color: var(--white);
	--background-card-form: var(--gray);
	--row-dark: var(--dark-gray);
	--row-light: var(--white);
	--row-dark-text: var(--white);
	--row-light-text: var(--dark);
}

.dark {
	--text-color: var(--white);
	--background-color: var(--dark);
	--background-card-form: var(--dark-gray);
}

* {
	font-family: sans-serif;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	font-size: 16px;
	color: var(--text-color);
	background-color: var(--background-color);
}

main, section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	margin-top: 0;
}

h2, p {
	text-align: center;
}

.btn {
	margin: .25rem auto;
	width: 240px;
	height: 48px;
	font-size: 1rem;
	border-radius: 4px;
	border: 1px solid var(--primary);
	cursor: pointer;
}

.btn a {
	text-decoration: none;
	color: var(--text-color);
}

.btn-primary {
	background-color: var(--primary);
	color: var(--white);
}

.btn-primary-outline {
	background-color: var(--background-color);
}

.card-error-message {
	background-color: var(--danger);
	width: 90%;
	height: 32px;
	margin: 2rem auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	border-radius: 8px;
	color: var(--text-color-2);
}

.form {
	background-color: var(--background-card-form);
	padding: 8px;
	width: 90%;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form > label {
	width: 90%;
}

.form input {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	height: 48px;
	width: 100%;
	margin: .5rem auto;
	font-size: 1rem;
}

.friend-table {
	background-color: var(--background-card-form);
	margin-top: 1rem;
	padding: 4px;
	width: 90%;
}

.tr-light {
	background-color: var(--row-light);
}

.tr-light, .tr-light a {
	color: var(--row-light-text)
}

.tr-dark {
	background-color: var(--row-dark);
}

.tr-dark, .tr-dark a {
	color: var(--row-dark-text);
}

@media only screen and (min-width: 1024px) {
	
	p {
		width: 600px;
	}
	
	.form, .friend-table {
		width: 600px;
	}
}