<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My best friends</title>
	<link rel="stylesheet" href="static/style.css">
</head>
<body class="light">
	<main>
		<h1>My best friends</h1>
		<p>
			Create a list of your best friends and all of their
			social media
		</p>
		<button class="btn btn-primary">
			<a href="list">
				Getting started
			</a>
		</button>
		<button class="btn btn-primary-outline">
			<a href="#learnMore">
				Learn more
			</a>
		</button>
	</main>
	<section id="learnMore">
		<h2>About</h2>
		<p>
			This is a project to manage the social info
			about your best friends. No matter if you lose
			your phone, or change your number.
		</p>
		<p>
			With one click you will have all of the data
			about your friends
		</p>
		<button class="btn btn-primary">
			<a href="list">
				Getting started
			</a>
		</button>
	</section>
</body>
</html>