<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My best friends</title>
	<link rel="stylesheet" href="static/style.css">
</head>
<body class="light">
	<main>
		<h1>Friend list</h1>
		<form action="" class="form">
			<h2>Add a friend</h2>
			<label>
				<input type="text" 
					name="friendName" id="friendName"
					placeholder="Friend name"
				/>
			</label>
			<label>
				<input type="url" 
					name="socialLink" id="socialLink"
					placeholder="Social link"	
				/>
			</label>
			<button class="btn btn-primary">Add</button>
		</form>
	</main>
</body>
</html>