{% extends "layout.html" %}
{% block body%}

{% if errors %}
	{% for error in errors %}
	<div class="alert alert-danger">
		{{error.error}}
	</div>
	<div class="container mt-4 col-md-6">
		<form method="post" class="card">
			<div class="card-body d-flex flex-column justify-content-center">
				<h3 class="card-title text-center mt-2">Sign in</h3>
				<input type="text" name="username" id="username" 
					placeholder="username" value="{{error.data.username}}"
					class="form-control mb-3"
				/>
				<input type="password" name="password" id="password"
					class="form-control mb-3" value="{{error.data.password}}"
					placeholder="password"
				/>
				<button type="submit" class="btn btn-primary">
					Sign in
				</button>
			</div>
		</form>
	</div>
	{% endfor %}

{% else %}
<div class="container mt-4 col-md-6">
	<form class="card" method="post">
		<div class="card-body d-flex flex-column justify-content-center">
			<h3 class="card-title text-center mt-2">Sign in</h3>
			<input type="text" name="username" id="username" 
				placeholder="username"
				class="form-control mb-3"
			/>
			<input type="password" name="password" id="password"
				class="form-control mb-3" 
				placeholder="password"
			/>
			<button type="submit" class="btn btn-primary">
				Sign in
			</button>
		</div>
	</form>
</div>
{% endif %}
{% endblock %}