<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My best friends</title>
	<link rel="stylesheet" href="static/style.css">
</head>
<body class="light">
	<main>
		<form method="POST">
			<label>				
				<input type="text" name="username" id="username" />
			</label>
			<label>
				<input type="password" name="password" id="password" />
			</label>
			<label>
				<input type="password" name="password2" id="password2" />
			</label>
			<button 
				class="btn btn-primary" 
				type="submit"
			>
				Sign Up
			</button>
		</form>
	</main>
</body>
</html>